@charset "utf-8";

// **************************** radio 单选的样式 **********************************
.moc-radio-group{
    line-height: 36px;
}
.moc-radio-item {
    color: #606266;
    font-weight: 500;
    line-height: 1;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    outline: none;
    font-size: 14px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    +.moc-radio-item {
        margin-left: 30px;
    }
}
.moc-radio-input{
    display: inline-block;
    outline: none;
    width: 14px;
    height: 14px;
    border: 1px solid #dcdfe6;
    border-radius: 50%;
    vertical-align: middle;
    background-color: #fff;
    cursor: pointer;
    position: relative;
    top: -1px;
}
.moc-radio-input-inner{
    display: inline-block;
    width: 8px;
    height: 8px;
    position: absolute;
    left: 3px;
    top: 3px;
    background-color: transparent;
    border-radius: 50%;
}
.moc-radio-input-original{
    opacity: 0;
    outline: none;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
}
.moc-radio-label{
    font-size: 14px;
    padding-left: 4px;
}
.moc-radio-item{
    &:not(.is-disabled):hover{
        color: #409eff;
        .moc-radio-input{
            border-color: #409eff;
        }
    }
    &.is-checked {
        color: #409eff;
        .moc-radio-input{
            border-color: #409eff;
        }
        .moc-radio-input-inner {
            background-color: #409eff;
        }
    }
    &.is-disabled{
        color: #606266;
        cursor: not-allowed;
        .moc-radio-input{
            background-color: #f8f8f8;
            border-color: #dcdfe6;
            cursor: not-allowed;
        }
        .moc-radio-label{
            opacity: 0.6;
        }
    }
    &.is-disabled.is-checked{
        .moc-radio-input-inner {
            background-color: #dcdfe6;
        }
    }
}
// 结束


