@charset "utf-8";

// **************************** toartr 提示框样式 **********************************
.moc-toartr {
    max-width: 200px;
    position: fixed;
    top: 30%;
    left: 50%;        
    padding: 10px 20px;
    font-size: 4px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    z-index: 999;
    transform: translate(-50%, 0);
}

// 过渡的过程时间，延迟和曲线函数。
.toartr-enter-active,
.toartr-leave-active {
  transition: 0.3s ease-out;
}
// 开始位置
.toartr-enter,
.toartr-leave-to {
    opacity: 0;
    transform: translate(-50%, -600px);
}
// 结束位置
.toartr-leave,
.toartr-enter-to{
    opacity: 1;
    transform: translate(-50%, 0);
}
// 结束


